// Define variables for your color scheme

// For example:
$goo-blue: #4688F1;
$goo-red: #E8453C;
$goo-yellow: #FABB2D;
$goo-green: #3AA757;
$goo-white: #FFFFFF;
$goo-bg-light: #F8F9FA;

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
