.dash-profile-container {

  width: 100%;
  padding: 24px;
  margin: 0 0 32px;
  background-color: #D0CFCF;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 2px solid $goo-green;
  color: black;

  p {
    margin: 0;
  }

}
