// Specific CSS for your home-page
$bg-gray: #545252;

// body {
//   background-color: $bg-gray;
//   margin: 0 auto;
//   padding: 0;
//   top: 0px;
// }


.menu-how-to-play-link {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.menu-how-to-play-link-text {
  color: white;
  margin-left: 7px;
  line-height: 28px;
  font-size: 18px
}

.menu-headline {
  text-align: center;
}


.menu-logo{
  background: asset-url('PARTLY.svg');
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



$darkBg: #545252;
@mixin splashElement {
  z-index: 99;
  background-color: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

// html {
//   margin: 0 auto;
//   padding: 0;
//   top: 0px;
// }

.splash-container {
  position: fixed;
  z-index: 99;
  left: 0px;
  top: 0px;
  background-color: $darkBg;
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  padding: 0;
  .splash-logo {
    position: absolute;
    width: 30vw;
    height: 30vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: none;
    background-image: asset-url('Logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .ball1 {
    @include splashElement;
    @include size(35vw, 35vh);
    top: 10vh;
    left: -10vw;
    position: absolute;
    background-image: asset-url('Ball4.png');
  }

  .ball2 {
    @include splashElement;
    @include size(10vw, 10vh);
    top: 70vh;
    left: 80vw;
    position: absolute;
    background-image: asset-url('Ball2.png');
  }

  .ball3 {
    @include splashElement;
    @include size(15vw, 15vh);
    top: 9vh;
    left: 80vw;
    position: absolute;
    background-image: asset-url('Ball1.png');
  }
}
a:hover {
  text-decoration: none;
}


.slow-fade {
  opacity: 0;
  transition: 2s;
}

.user-buttons{
  position: fixed;
  bottom: 20px;
  display: flex;
  width: 100%;
  left: 0;
}

.username-displayed{
  width: 55%;
  height: 50px;
  border-radius: 25px;
  background: #2d2d2d;
  line-height: 50px;
  text-align: center;
  box-shadow: 0 3px 4px rgba(0,0,0,0.3);
  margin: 0 auto;
  color: #cacaca;
}

.pillbox-add-top-margin-main-page{
  margin-top: 20%;
}

%menuBottomBTN{
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  margin: 0 7px;
}

.logout-icon{
  @extend %menuBottomBTN;
background-image: url("LogOutBTN.svg");
}

.my-stats-icon{
  @extend %menuBottomBTN;
background-image: url("MyStatsBTN.svg");
background-position: 12px 11px;
}


$darkBg: #545252;
@mixin splashElement($shadow:false) {
  background-color: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  @if $shadow {
    border-radius: 50%;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, .3);
  }
}
@mixin size($w, $h:$w) {
  width: $w;
  height: $h;
}
@mixin position($top, $left:$top) {
  top: $top;
  left: $left;
}
@mixin ani($time:30s) {
  animation-name: revolve1;
  animation-duration: $time;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;
}
html,
body {
  margin: 0 auto;
  padding: 0;
  top: 0px;
}
.splash-container {
  position: fixed;
  background-color: $darkBg;
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  padding: 0;
  .splash-logo {
    z-index: 1;
    @include splashElement;
    @include size(30vw, 30vh);
    @include position(15%);
    transform: translate(-15%, -15%);
    top: 30%;
    left: 40%;
    // background-image: url('Logo-splash.png');
  }
  .ball1 {
    @include ani;
    @include splashElement(shadow);
    @include size(280px);
    @include position(50vh, -30vw);
    background-image: url('Ball4.png');
  }
  .ball2 {
    @include ani(45s);
    @include splashElement(shadow);
    @include size(100px);
    @include position(30vh, 60vw);
    background-image: url('Ball2.png');
  }
  .ball3 {
    @include ani(55s);
    transform: translate(-130px);
    @include splashElement(shdow);
    @include size(200px);
    @include position(-15vh, -65vw);
    background-image: url('Ball1.png');
  }
}
@keyframes revolve1 {
  $trans: 100px;
  0% {
    transform: rotate(0deg) translateX($trans);
  }
  100% {
    transform: rotate(360deg) translate($trans);
  }
}



