<div id="delayRedirect">

  <div class="splash-container" id="splash-container">
    <div class="splash-logo"></div>
    <div class="ball1"></div>
    <div class="ball2"></div>
    <div class="ball3"></div>
  </div>
</div>

<div class="pillbox_outer">
  <div class="pillbox_inner">
    <div class="menu-headline-container">
      <div class="menu-logo" style="background-image">

      </div>
      <div class="menu-how-to-play-link">
        <div class="menu-how-to-play-link-icon">
         <%= image_tag("game_options_menu_symbol.png", id: 'game-options-menu-symbol')%>
         </div>
        <div class="menu-how-to-play-link-text">How to play</div>
      </div>
    </div>
      <div class="menu-options">
       <div class="menu-option">quick play</div>
       <div class="menu-option">
       <div class="menu-how-to-play-link-text">How to play</div>
     </div>
   </div>
   <div class="pillbox-add-top-margin ">
     <div class="pill">
       Full game - "choose one"
       <%= button_to "Try out", games_path, params: {game: {game_mode: "Try Out"}} %>
      </div>
     <div class="pill">Full game - "choose one"</div>
     <div class="pill">Full game - "sortable"</div>
     <div class="pill hidden">spacer</div>
     <div class="pill">Log in - Not yet built</div>
     <div class="pill">My state - Not yet built</div>
   </div>
 </div>
</div>



<script>

  // Script to during the make the Body element grey
  let my_body = document.querySelector('body')
  const changeBodyBackgroundColor = () => {
    my_body.style.background = '#545252'
  }
  changeBodyBackgroundColor();

  // Script to handle delay, switching from Splash screen to Menu screen
  let loader = document.getElementById('splash-container');
  const handleLoader = () => {
   loader.style.display = 'none';
 }

 setTimeout(handleLoader, 4000);
</script>
