
<div class = "htp-container">

  <div class = "htp-inner-container">
    <div>
      <div class = "htp-headline-container ">
        <%= image_tag("game_options_menu_symbol.png", class: "htp-headline-icon") %>
        <div class="htp-headline">  How to play</div>
      </div>
    </div>

    <div class="htp-options htp-text">
      <p>Partly is a search-engine autocomplete based quiz</p>
      <%= image_tag("how_to_play.png", class: 'htp-pic')%>
      <p>Every question is a search query in th search-bar. The player has to guess which phrase is the first in the list of suggestions by auto complete.</p>
    </div>
    <a href="/">
    <div class="pill htp-pill">OK, got it!</div>

    </a>

  <%= link_to "OK, got it!", root_path, class: "pill htp-pill" %>
  </div>

</div>


<script>
  let my_body = document.querySelector('body')
  const changeBodyBackgroundColor = () => {
    my_body.style.background = '#545252'
  }
  changeBodyBackgroundColor();
</script>
