



<div class = "htp_container">
  <div class = "htp-inner-container">

    <div>
      <div class = "htp-headline-container ">
        <%= image_tag("game_options_menu_symbol.png", class: "htp-headline-icon") %>
        <div class="htp-headline">  How to play</div>
      </div>
    </div>

    <div class="htp-options htp-text">

      <p>Partly is a google autocomplete based quiz</p>

      <p>Every question is a search query in google. the player has to guess which phrase is the first in the list of suggestions by google auto complete.</p>

    </div>

  </div>
</div>
