.submit-button-style {
  position: relative;

  width: 200px;
  $height: 50px;
  height: $height;
  border-radius: 25px;
  background: white;
  line-height: $height;
  text-align: center;
  margin: 14px auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: #424242;


  transition: all ease-in-out 250ms;

  &.hidden {
    visibility: hidden;
  }

  &:hover {
  //transform: scale(1.05);
  width: 100%;
  background-color: #D6D6D6;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-decoration: none;
}

&:active{
    //transform: scale(.98);
    width: 88%;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
    transition: all ease-in-out 150ms;
    text-decoration: none;
  }
}

@media screen and (max-width : 720px) {
  .pillbox_outer_slide .game_inner_slide {
    width: 85%;
    background: inherit;
  }
}

.pillbox_outer_slide{
  background: $bg-gray;
  width: 100%;
  height: 40%;
  .game_inner_slide {
    background: inherit;
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
  }
}

// rename
.pill-outer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  width: 90%;
  $height: 60px;
  height: $height;
  border-radius: 30px;
  background: white;
  line-height: $height;
  margin: 14px auto;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: #424242;
  background-color: #D6D6D6;
  transition: all ease-in-out 250ms;
  padding-right: 5px;
  padding-left: 16px;

  h2 {
    margin: 0px;
    opacity: 0.5;
    margin-right: 10px;
    margin-bottom: 4px;
  }
}
// rename
.pill-sortable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 79%;
  margin: 24px auto;
  $height: 50px;
  height: $height;
  border-radius: 25px;
  line-height: $height;
  text-align: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  transition: width ease-in-out 250ms;

  i {
    opacity: 0.5;
  }
}

.go_back {
  z-index: -10;
  position: absolute;
  width: 40%;
  left: 0;
  margin-top: 5px;
}

.container-sortable {
  flex-grow: 1;
  position: absolute;
  width: 40%;
  right: -4.5%;

}

#quest-sort {
  list-style-type: none;

  li {
    cursor: grab;
  }
  li:active {
    cursor: grabbing;
  }
  li.ghost {
    opacity: 0.5;
  }
}

.back-opac {
  background: none;
}

.set-width {
  width: 40%;
}

@media screen and (max-width : 720px) {
  .go_back {
    width: 100%;
    background: inherit;
  }
  .container-sortable {
    width: 100%;
    background: inherit;
  }
}

.sortable-ghost {
  opacity: 15%;
}

.sortable-chosen {
  width: 81%;
  opacity: 35%;
}

.sortable-wrap {
  position: relative;
}

.next-slide-score {
  width: 200px;
  margin-bottom: 0px;
  position: absolute;
  bottom: 20px;
  display: flex;
  width: 100%;

}


