
// This SCSS file as a dependency on _pill!

.pill_far_left {
  position: relative;
  left: 47px;
  bottom: 30px;
  margin: inherit; // testing this
}

.pill_far_right {
  position: relative;
  left: 47px;
  bottom: 30px;
  margin: inherit; // testing this
}
