
.user-buttons{
  position: fixed;
  bottom: 20px;
  display: flex;
  width: 100%;
  left: 0;
}

.username-displayed{
  width: 55%;
  height: 50px;
  border-radius: 25px;
  background: #2d2d2d;
  line-height: 50px;
  text-align: center;
  box-shadow: 0 3px 4px rgba(0,0,0,0.3);
  margin: 0 auto;
  color: #cacaca;
}

.username-width-spacer {
  width: 55%;
  height: 50px;
  visibility: hidden;
}

.pillbox-add-top-margin-main-page{
  margin-top: 20%;
}

%menuBottomBTN{
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  margin: 0 7px;
}

.logout-icon{
  @extend %menuBottomBTN;
background-image: asset-url("LogOutBTN.svg");
}

.my-stats-icon{
  @extend %menuBottomBTN;
background-image: asset-url("MyStatsBTN.svg");
background-position: 12px 11px;
}
